# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
ci:
    skip: [pylint,flake8]
exclude: EPS_OUTCAR
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-executables-have-shebangs
    -   id: check-toml
    -   id: debug-statements
    -   id: requirements-txt-fixer
-   repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
    -   id: black
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      require_serial: true
      args:
        [
          "-rn", # Only display messages
        ]
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.11.0'  # Use the sha / tag you want to point at
    hooks:
    -   id: mypy
        args: [--strict]
        additional_dependencies:
          [
            pytest,
          ]
        exclude: "conf.py"
-   repo: https://github.com/pycqa/flake8
    rev: '7.1.0'  # pick a git hash / tag to point to
    hooks:
    -   id: flake8
        args: [--max-line-length=88, --docstring-convention=numpy]
        additional_dependencies:
          [
            flake8-bugbear, flake8-docstrings
          ]
